@charset "utf-8";
/* CSS Document */

/* * * * * * * * * * * * * * * FONTS * * * * * * * * * * * * * * */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');


/* * * * * * * * * * * * * * * Layout * * * * * * * * * * * * * * */
main{
	display: grid;
	grid-template-areas: "nav main main main";
	padding: .5em;
}

nav{
	grid-area: nav;
	padding: .5em;
}

main section.mainsection{
	grid-area: main;
	padding: .5em;
}


/* * * * * * * * * * * * * * * General * * * * * * * * * * * * * * */
body{
	margin: 0;
	line-height: 1.5em;
}

body, textarea::placeholder{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6, button {
	font-family: 'Zilla Slab', serif;
	margin: .25em;
}

h1{
	font-weight: 700;
}

h2{
	font-weight: 600;
}

#brand{
	font-weight: 300;
}


/* * * * * * * * * * * * * * * Links * * * * * * * * * * * * * * */
a{
	color: #7c9f35;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .3s;
	display: inline-block;
}

a:visited{
	color: #b2b0b0;
}

a:hover{
	transform: translate(-.5em, 0);
	color: #000;
}

/* * * * * * * * * * * * * * * Header * * * * * * * * * * * * * * */
header{
	padding: 1em;
	background-color: #4e4e4e;
	color: #dddcdc;
}

/* * * * * * * * * * * * * * * Buttons/Inputs/Etc * * * * * * * * * * * * * * */
button{
	border-radius: 5px;
	padding: .5em;
	font-size: 1.1em;
	margin: 1em;
}

input{
	width: 700px;
	border-radius: 5px;
}

textarea{
	width: 800px;
	height: 250px;
	background-color: #e5f5c4;
	border-radius: 5px;
	padding: .5em;
}

/* * * * * * * * * * * * * * * Lists * * * * * * * * * * * * * * */

li{
	list-style: none;
	padding-left: .75em;
}

ul{
	margin: 0;
	padding: 0;
}