@media only screen and (min-width: 1080px) {
    #computer-card-area, #computer-card-area > * {
        display: block;
    }
    
    main {
        max-width: 100vw;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(4, 240px);
        grid-template-areas: 'score game game game';
    }

    #score-board-container {
        display: flex;
        justify-content: center;
        grid-area: score;
    }

    #score-board {
        max-width: 240px;
        margin-left: 1em;
    }

    #game-container {
        grid-area: game;
    }

    #score-board {
        width: 100%;
        margin: 2em 0;
    }

    #score-board .button-container {
        /*display: none;*/
    }

    #piles{
        width: 100%;
        flex-direction: column;
    }

    #draw-pile, #discard-pile{
        margin: 1em;
    }

    #game-container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'player piles computer';
    }

    #player-card-area {
        grid-area: player;
        height: 100%;
        width: 100%;
    }

    #computer-card-area {
        grid-area: computer;
        height: 100%;
        width: 100%;
    }

    #piles {
        grid-area: piles;
        height: 100%;
        width: 100%;
        min-width: 100%;
    }



    /* * * * * * * * * * * * * * * * * * * * * * CARD POSITIONS * * * * * * * * * * * * * * * * * * * * * */
    /*DRAW TOP CARD*/
    #draw-pile .card-front {
        top: 210px;
    }
        /*PLAYER CARDS*/
        #player-card-area .card-container .card-front:nth-child(1) {
        position: absolute;
        top: 225px;
        left: 330px;
    }

    #player-card-area .card-container .card-front:nth-child(2) {
        position: absolute;
        top: 250px;
        left: 325px;
    }

    #player-card-area .card-container .card-front:nth-child(3) {
        position: absolute;
        top: 275px;
        left: 320px;
    }

    #player-card-area .card-container .card-front:nth-child(4) {
        position: absolute;
        top: 300px;
        left: 315px;
    }

    #player-card-area .card-container .card-front:nth-child(5) {
        position: absolute;
        top: 325px;
        left: 310px;
    }

    #player-card-area .card-container .card-front:nth-child(6) {
        position: absolute;
        top: 350px;
        left: 305px;
    }

    #player-card-area .card-container .card-front:nth-child(7) {
        position: absolute;
        top: 375px;
        left: 300px;
    }

    #player-card-area .card-container .card-front:nth-child(8) {
        position: absolute;
        top: 400px;
        left: 295px;
    }

    #player-card-area .card-container .card-front:nth-child(9) {
        position: absolute;
        top: 425px;
        left: 290px;
    }

    #player-card-area .card-container .card-front:nth-child(10) {
        position: absolute;
        top: 450px;
        left: 285px;
    }


    /*COMPUTER CARDS*/

    #computer-card-area .card-container .card-back:nth-child(1) {
        position: absolute;
        top: 225px;
        left: 880px;
    }

    #computer-card-area .card-container .card-back:nth-child(2) {
        position: absolute;
        top: 250px;
        left: 875px;
    }

    #computer-card-area .card-container .card-back:nth-child(3) {
        position: absolute;
        top: 275px;
        left: 870px;
    }

    #computer-card-area .card-container .card-back:nth-child(4) {
        position: absolute;
        top: 300px;
        left: 865px;
    }

    #computer-card-area .card-container .card-back:nth-child(5) {
        position: absolute;
        top: 325px;
        left: 860px;
    }

    #computer-card-area .card-container .card-back:nth-child(6) {
        position: absolute;
        top: 350px;
        left: 855px;
    }

    #computer-card-area .card-container .card-back:nth-child(7) {
        position: absolute;
        top: 375px;
        left: 850px;
    }

    #computer-card-area .card-container .card-back:nth-child(8) {
        position: absolute;
        top: 400px;
        left: 845px;
    }

    #computer-card-area .card-container .card-back:nth-child(9) {
        position: absolute;
        top: 425px;
        left: 840px;
    }

    #computer-card-area .card-container .card-back:nth-child(10) {
        position: absolute;
        top: 450px;
        left: 835px;
    }
    /*DO NOT DELETE THIS ONE!*/
}