@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Rokkitt:wght@300;400;600&display=swap');
/* COLORS
    very light green: #ecfbc8       light green: #dcf69d        green: #ccf176
    dark green: #aed74d             very dark green: #92c027
    very light blue: #6179b3        light blue: #3f5a9c         blue: #254492
    dark blue: #163174              very dark blue: #09205a
    very light orange: #ffd47c      light orange: #e8b64e       orange: #d99d23
    dark orange: #ac7911            very dark orange: #855a00
*/

/* * * * * * * * * * * * * * * * * * * * * *LOGO* * * * * * * * * * * * * * * * * * * * * */
.logo-container{
    min-width: 300px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .5em;
    height: 100px;
    
}
.logo {
    margin: 0;
    background-color: #09205a;
    color: #98cc21;
    font-family: 'Oswald', sans-serif;
    transform: skew(-20deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 100px;
}

.logo-card {
    margin: 0;
    background-color: #09205a;
    color: #98cc21;
    font-family: 'Oswald', sans-serif;
    transform: skew(-20deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 45px;
}

.logo p {
    transform: skew(20deg);
    font-weight: 600;
    font-size: 2.5em;
}

.logo-card p {
    transform: skew(20deg);
    font-weight: 400;
    font-size: 1em;
    color: #fff;
}
.logo-container-card {
    width: 150px;
    height: 45px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .5em;
}
/* * * * * * * * * * * * * * * * * * * * * *TYPOGRAPHY* * * * * * * * * * * * * * * * * * * * * */
body {
    font-family: 'Rokkitt', serif;
}
h1, h2, h3, h4,  h5,  h6, .button {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

a {
    color: #e8b64e;
    transition: 0.3s;
}
a:visited {
    color: #d99d23;
}
a:hover, a:active {
    color: #ffd47c;
}

span {
    color: #855a00;
    font-weight: 600;
}

/* * * * * * * * * * * * * * * * * * * * * *CARD FRONT/BACK* * * * * * * * * * * * * * * * * * * * * */
.card-front, .card-back {
    width: 175px;
    height: 130px;;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #09205a;
    border: 1px solid #163174;
}
.card-front{
    background-color: #fff;
}
.card-back {
    background-color: #dcf69d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front > div {
    position: relative;
    top: -20px;
}

.card-header {
    background-color: #163174;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #855a00;
}
.card-header div {
    width: 1.75em;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    left: 23%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    transform: skew(-20deg);
}

.card-header p {
    transform: skew(20deg);
}

.card-number {
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding: .5em 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #855a00;
}

.card-flavor {
    width: calc(100%-1em);
    margin: 0;
    padding: 0 .5em;
    text-align: center;
    line-height: 1em;
}

/* * * * * * * * * * * * * * * * * * * * * * HEADER / BODY* * * * * * * * * * * * * * * * * * * * * */
body {
    margin: 0;
    background-color: #ffd47c;
}
header {
    margin: 0;
    padding: 1em;
    background-color: #3f5a9c;
    display: flex;
    justify-content: center;
}
/* * * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * * */
.button {
    border-radius: 5px;
    transform: skew(-20deg);
    padding: 1em;
    height: 2em;
    width: 4em;
    background-color: #09205a;
    display: flex;
    align-items: center;
    justify-content: center;

}
.button span {
    transform: skew(20deg);
    font-size: 2em;
    color:#98cc21;
}
.button-container {
    position: fixed;
    width: 100vw;
    height: 8em;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd47c;
}
/* * * * * * * * * * * * * * * * * * * * * * SCORE BOARD * * * * * * * * * * * * * * * * * * * * * */
#score-board {
    max-height: 65vh;
    width: 75vw;
    margin: 2em 1em;
    background-color: #e8b64e;
    padding: 1em;
    text-align: center;
}

#score-board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * GAME AREA * * * * * * * * * * * * * * * * * * * * * */
#game-container {
    /*display: none;*/
}

#piles {
    min-width: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}
#draw-pile{
    margin-right: 1em;
}
#discard-pile{
    margin-left: 1em;
}
#player-card-area, #computer-card-area {
    background-color: #d99d23;
    height: 50vh;
}

#computer-card-area {
    display: none;
}